@use '../../../app/_styles/foundation/palette' as *;
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* 可由 props 傳入變動 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.full {
  white-space: normal;
}

.toggleBtn {
  background: none;
  border: none;
  color: $primary;
  cursor: pointer;
  padding: 0;
  font-size: 0.9rem;
  margin-top: 4px;
  display: flex;
  justify-items: end;
}
