// sidebar.module.scss

@use '../../_styles/foundation/palette' as *;
@use '../../_styles/foundation/_mixins' as *;

$vip-color: #d4af37; // VIP 金色
$regular-color: #842929; // 一般紅棕
$hover-scale: 1.03;
$active-scale: 1.3;

.sidebar {
 background-color: #2D2D2D;
    z-index: 1024;
    transition: all 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 250px !important;
}


/* Logo 區域 */
.sidenav-header {
    padding: 0;
    border-bottom: none;
    margin-bottom: 150px;
}

.navbar-brand {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

/* Logo 容器 */
.logo-box {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: visible;
    position: relative;
}

/* Logo 圖片 */
.logo-img {
    max-width: 85%;
    height: auto;
    object-fit: contain;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.decorationIcon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  z-index: 2;
}

.nav {
  margin-top: 20px;
  padding: 2rem 1rem;

  .hrLine {
    border-top: 2px dashed #000;
    margin: 10px 0;
  }
}

.navLink {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $regular-color;
  text-decoration: none;
  padding: 2rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease, transform 0.3s ease;
  transform-origin: center;
  position: relative;
  overflow: hidden;

  .iconSize {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
  }

  .label {
    display: block;
    transition: color 0.3s ease;
  }

  .subLabel {
    display: none;
    transition: color 0.3s ease;
  }

  &:hover {
    background-color: rgba(247, 127, 8, 1);
    transform: translateY(-2px) scale($hover-scale);

    

    .iconSize {
      transform: scale(1.2) rotate(3deg);
    }
  }

  &.active {
    background-color: #f77f08;
    color: white;

    .iconSize {
      transform: scale($active-scale);
    }
  }
}

@include media-breakpoint-down(md) {
  .nav {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navLink {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 0.5rem;
    text-align: center;

    .label {
      display: none;
    }

    .subLabel {
      display: block;
      margin-top: 0.5rem;
      font-size: 1rem;
    }

    .iconSize {
      font-size: 1.5rem;
    }
  }

  .hrLine {
    display: none;
  }
}