@use '../../_styles/foundation/palette' as *;

.sectionTitle {
  font-weight: 700;
  margin-top: 20px;
  font-size: 24px;
}
.borderCustom {
  border: 1px solid $dark;
}

.tabMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.tabs {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  list-style: none;
  margin-bottom: 2rem;
  padding: 10px;
}

.tabItem {
  text-decoration: none;
  color: $sub-text;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
  font-family: 'Noto Serif TC', serif;
}

.tabItem:hover {
  color: $secondary;
  text-decoration: none;
}

.tabItem::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  color: $muted;
  background-color: $secondary;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.tabItem {
  &:focus {
    color: $muted;
    outline: none;
    box-shadow: none;
  }
}

.tabItem:hover::after,
.active::after {
  width: 100%;
  text-decoration: none !important;
}

.active {
  color: $secondary;
  text-decoration: none !important;
  // border: 0px solid !important;
}

.sidebar {
  background: url('/images/456.jpg');
  background-size: 400px;
  // background-attachment: fixed;
  border-radius: 6px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px $muted;
  /* 微微陰影提昇立體感 */
}

.infoInner {
  background: rgba(255, 255, 255, 0.9); /* 90%白色透明，看起來更柔和 */
  border-radius: 6px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.infoInner ul li {
  margin-bottom: 0.5rem;
}

.infoInner .btn {
  font-size: 0.8rem;
  padding: 0.25rem 0.75rem;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* =========================導覽列================================ */
.subTitle {
  border-top: 2px double $primary;
  border-bottom: 2px double $primary;
  color: $primary;
  letter-spacing: 1px;
}

.innerLine {
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
}

.subBtn:hover::after,
.subBtn.active::after {
  transform: translateX(-50%) scaleX(1);
}
