.cart-dropdown-container {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  z-index: 2000;
}

.cart-dropdown {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  min-width: 280px;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
  position: relative;
}

.cart-dropdown::before {
  content: '';
  position: absolute;
  top: -8px;
  right: 20px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
}

.cart-dropdown .empty {
  color: #888;
  padding: 1rem 0;
  text-align: center;
}

a.no-hover-style::before {
  color: white !important;
  transform: none !important;
  text-decoration: none !important;
  width: 0 !important;
}
