.group-hover-opacity-100 {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.hover-card {
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  cursor: pointer;
}

.zoom-on-hover {
  max-height: 380px;
  object-fit: contain;
  transform: scale(1.6) translateX(35%);
  transition: transform 0.4s ease;
}

.hover-card h1,
.hover-card h2 {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-bottom: none;
}


@media (min-width: 768px) {
  .group:hover .group-hover-opacity-100 {
    opacity: 1;
  }

  .hover-card:hover img {
    transform: scale(1.1);
  }

  .hover-card:hover .zoom-on-hover {
    transform: scale(1.8) translateX(35%);
  }
}

@media (max-width: 767.98px) {
  .group-hover-opacity-100 {
    opacity: 1;
  }

  .hover-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  }

  .hover-card h1::after,
  .hover-card h2::after {
    display: none !important;
  }

  .animate-slidein h1,
  .animate-slidein h2 {
    font-size: 2rem;
  }
}
