.input-group {
    border: 1px solid #ced4da;
    border-radius: 6px;
    overflow: hidden;
    /* 把 focus 突出問題解決 */
    background-color: #fff;
  
    .input-group-text {
      background-color: transparent;
      border: none;
    }
  
    .form-control {
      border: none;
      box-shadow: none;
    }
  }
  
  .form-select:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #ced4da;
  }
  
  .filter-panel {
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100%;
    background: #f8f1e3;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    padding: 1rem;
    z-index: 1050;
  
    &.show {
      right: 0;
    }
  }
  
  .btn-add {
    flex: 1;
    background-color: #823b20;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
  
    &.show {
      display: block;
    }
  }
  
  .range-container {
    position: relative;
    height: 50px;
  
    .range-track {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      background: #ddd;
      transform: translateY(-50%);
      border-radius: 2px;
    }
  
    .range-selected {
      position: absolute;
      top: 50%;
      height: 4px;
      background: #0d6efd;
      transform: translateY(-50%);
      border-radius: 2px;
      z-index: 1;
    }
  
    input[type='range'] {
      position: absolute;
      width: 100%;
      height: 4px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      background: transparent;
      appearance: none;
      -webkit-appearance: none;
      z-index: 2;
  
      &::-webkit-slider-thumb {
        pointer-events: all;
        width: 16px;
        height: 16px;
        background: #0d6efd;
        border-radius: 50%;
        cursor: pointer;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s;
        -webkit-appearance: none;
  
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  
  .filter-button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .filter-btn {
    flex: 1 0 calc(50% - 0.5rem);
    text-align: center;
  }